.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    justify-content: center;
    align-content: center;
}
.prodotti{
    background-color: white;
    /* rgb(167, 117, 42); */
    /* border-radius: 30px; */
    border: solid lightgray 1px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    margin-top: 10px;
    width: 60%;
}
.nome{
    text-align: center;
    font-size: 12px;
}
.prezzo{
    font-size: 14px;
}

@media(max-width:800px){
    .container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:600px){
    .container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:450px){
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:300px){
    .container{
        display: block;
        gap: 5px;
        justify-content: center;
        align-content: center;
    }
}