.container{
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    gap:0px;
    background-color: white;
    /* flex-direction: column; */
}
.prodotti{
    display: flex;
    flex-direction: column;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    justify-content: center;
    padding: 20px;
}
.foto-container{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.foto{
    height: 100%;
    width: 100%;
}
p{
    margin: 0;
    margin-bottom: 10px;
}
select{
    width: 25%;
    margin-bottom: 25px;
}
.aggiungi-al-carrello{
    background-color: rgb(255, 216, 20);
    border-radius: 25px;
    height: 35px;
    border: none;
}
.aggiungi-al-carrello:hover{
    background-color: rgba(255, 216, 20, 0.616);
    color: black;
}
.aggiungi-al-carrello:active{
    
}
/* dysplay grid
.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px; 
    justify-content: center;
    align-content: center;
}
.prodotti{
    background-color: white;

    border: solid lightgray 1px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    margin-top: 10px;
    width: 60%;
}
.nome{
    text-align: center;
    font-size: 12px;
}
.prezzo{
    font-size: 14px;
}
.aggiungi-al-carrello{
    
}
@media(max-width:1100px){
    .container{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:900px){
    .container{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:700px){
    .container{
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:300px){
    .container{
        display: block;
        gap: 5px;
        justify-content: center;
        align-content: center;
    }
} */